
<div class="wrapper">
  <div style="text-align:center">
    <h1>
      The Assemblers
    </h1>
    <h2>
      Math Model
    </h2>
  </div>

  <mat-card class="exclusionTreeCard">
    <mat-card-title>
      Exclusion Tree
    </mat-card-title>
    <mat-card-content>
      <app-d3-tree></app-d3-tree>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Node Details
    </mat-card-title>
    <mat-card-content>
      <app-inspect-node></app-inspect-node>
    </mat-card-content>
  </mat-card>
</div>