ul {
    padding: 0;
    list-style-type: none;
}
.row {
    display: flex;
    flex-direction: row
}
.square {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin: 1px 1px 1px 1px;
    text-align: center
}
.fill0 {
    color: black;
    background-color: white;
}
.fill1 {
    color: white;
    background-color: black
}